# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# env
.env
.env.*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Notes
notes.txt

#firebase
ogaboss-734e1-firebase-adminsdk-6b72x-64064fc19d.json
cotton-84d8b-firebase-adminsdk-fbsvc-a8d99f0636.json

node_modules
dist
.env
uploads/
*.env
.prod.env
staging.env
.DS_Store

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

bun.lockb

# testing
/coverage

# production
dist
/build
/dist
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# dotenv environment variables file
.env
.env.test

npm-debug.log*
yarn-debug.log*
yarn-error.log*
dump.rdb
start.sh
/src/script.ts
/src/infrastructureModule.ts
/generated/prisma


src/infrastructure/databases/prisma/generated

# Live test console
/live-test


# Firebase service account files
*firebase-adminsdk*.json
